body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  background: #111;
  font-family: Arial, sans-serif;
  color: white;
}

h1 {
  position: absolute;
  top: 20px;
}

.genius {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 8px solid #000;
  background: #000;
  overflow: hidden;
}

/* Base style */
.color {
  position: absolute;
  width: 50%;
  height: 50%;
  opacity: 0.85;
  cursor: pointer;
  transition: 0.2s;
  border: 8px solid #000;
  box-sizing: border-box;
}

/* Top Left */
.green {
  top: 0;
  left: 0;
  background: #00a74a;
  border-top-left-radius: 100%;
}

/* Top Right */
.red {
  top: 0;
  right: 0;
  background: #9f0f17;
  border-top-right-radius: 100%;
}

/* Bottom Left */
.yellow {
  bottom: 0;
  left: 0;
  background: #cca707;
  border-bottom-left-radius: 100%;
}

/* Bottom Right */
.blue {
  bottom: 0;
  right: 0;
  background: #094a8f;
  border-bottom-right-radius: 100%;
}

/* Active effect */
.selected {
  opacity: 1;
  filter: brightness(1.5);
}

/* Center circle */
.center-display {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #111;
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: grid;
  place-items: center;
  text-align: center;
  border: 6px solid #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  cursor: pointer;
}
